@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto Condensed', sans-serif;
}
body{
  background-image: url(pozadinavue1.png);
  background-size: cover;
  width: 100%;
}

header {
 
  margin: 50px 10%;
  padding: 20px;
  color: rgb(92,60,47);
  text-align: center;
  width: 100%;
  display: flex;
  font-size: xx-large;
  
}
.logo{
  height: 80px;
  width: 113px;
  margin-top: 5px;
}

#app ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#app li {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 20px 10%;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 90%;
  max-width: 700px;
}

#app h2 {
  font-size: xx-large;
  border-bottom: 2px solid #ccc;
  color: rgb(92,60,47);
  margin: 0 0 20px 0;
}

#app button {
  font: inherit;
  cursor: pointer;
  border: 1px solid rgb(92,60,47);
  background-color: rgb(92,60,47);
  color: white;
  padding: 5px 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  border-radius: 7px;
}

#app button:hover,
#app button:active {
  background-color: rgb(129, 84, 66);
  border-color: rgb(129, 84, 66);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
